.header {
  display: flex;
  justify-content: center;
  height: 48px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 185px;
  height: 48px;
  color: #1d1d1e;
  font-size: 20px;
  font-weight: bolder;
}
.search {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 20px;
  background-color: #edeef0;
  border-radius: 5px;
  width: 220px;
  height: 32px;
  align-self: center;
  padding-left: 10px;
}

.inputSearch {
  width: 160px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: #edeef0;
  border-radius: 5px;
  outline-style: none;
}

.notification {
  display: grid;
  width: 48px;
  height: 48px;
}

.audio {
  display: grid;
  width: 48px;
  height: 48px;
}
.player {
  display: flex;
  flex-grow: 1;
  height: 48px;
}
.profileMenu {
  width: 112px;
  height: 48px;
  display: flex;
  justify-self: left;
  justify-content: center;
  align-items: center;
}
.profImg {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #1d1d1e;
}

.header img {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 32px;
  height: 32px;
}

.hedProfMenu > img {
  width: 16px;
  height: 16px;
}
.search img {
  width: 16px;
  height: 16px;
}
