.dialogsList {
  display: flex;
  flex-direction: column;
  width: 550px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e7e8ec;
}
.dialogsList a {
  text-decoration: none;
  color: #1d1d1e;
}
.dialogsList a:hover {
  background-color: #dce1e6;
}
.dialogsContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}
.searchDialogs {
  display: flex;
  width: auto;
  height: 48px;
  border-bottom: 1px solid #e7e8ec;
}

.dialogsListFooter {
  display: flex;
  width: auto;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e8ec;
  font-size: 13px;
}
