.dialogInfo {
  display: flex;
  width: auto;
  padding: 10px 0;
}
.dialogDetail {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  min-height: 70px;
  font-size: 13px;
}
.dialogImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
.img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dialogName {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 390px;
  height: 30px;
  font-weight: bolder;
}
.dialogTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.messageText {
  display: flex;
  width: 390px;
  padding-left: 10px;
  flex-grow: 1;
}
