* {
  padding: 0px;
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #edeef0;
}
.container {
  display: flex;
  width: 990px;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: center;
  height: 48px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.content {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
.footer {
  display: flex;
  justify-content: center;
  height: 40px;
  width: auto;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  width: 163px;
  height: 48px;
  color: #1d1d1e;
  font-size: 20px;
  font-weight: bolder;
}
.search {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 230px;
  height: 48px;
}
.inputSearch {
  width: 196px;
  height: 32px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0px;
  background-color: #edeef0;
  border-radius: 5px;
  outline-style: none;
}

.notification {
  width: 48px;
  height: 48px;
  background-color: chartreuse;
}
.audio {
  width: 48px;
  height: 48px;
  background-color: chocolate;
}
.player {
  display: flex;
  flex-grow: 1;
  height: 48px;
  background-color: darkkhaki;
}
.profileMenu {
  width: 112px;
  height: 48px;
  background-color: darkcyan;
  display: flex;
  justify-self: left;
}
.navBar {
  display: flex;
  flex-direction: column;
  width: 164px;
}
.navBar ul {
  list-style: none;
}

.navBar ul > li > a {
  display: flex;
  height: 30px;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: #1d1d1e;
  font-size: 13px;
}
.navBar ul > li {
  padding-left: 5px;
}
.navBar ul > li:hover {
  border-radius: 5px;
  background-color: #e5e7ea;
}
a > img {
  height: 16px;
  width: 16px;
  margin: 0 10px;
}
.logo img {
  padding-right: 5px;
  width: 32px;
  height: 32px;
}
.leftCol {
  width: 230px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e7e8ec;
}
.rightCol {
  width: 550px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e7e8ec;
}
