* {
  padding: 0px;
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  width: auto;
  height: calc(100vh - 20px);
  background-color: #edeef0;
  padding-bottom: 20px;
}
.container {
  display: flex;
  width: 990px;
  justify-content: space-between;
  justify-self: center;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 990px;
  flex-grow: 1;
}
.footer {
  display: flex;
  justify-content: center;
  height: 40px;
  width: auto;
  background-color: white;
}

.leftCol {
  width: 230px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e7e8ec;
}
.rightCol {
  width: 550px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e7e8ec;
}
