.dialogInfo {
  display: flex;
  width: auto;
  height: 71px;
  border-bottom: 1px solid #e7e8ec;
}
.dialogDetail {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 70;
  font-size: 13px;
}
.dialogImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
.img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.dialogName {
  display: flex;
  align-items: center;
  width: 400px;
  height: 30px;
  font-weight: bolder;
}
.dialogTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.dialogTextPrev {
  display: flex;
  height: 20px;
  width: 400px;
  overflow: hidden;
}
